<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group col-10">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳" aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>              
        </div>
      </form>
        <form action="/restaurants/sort">
          <div class="btn-group col-2">
            <button type="button" class="btn dropdown-toggle sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              排序
            </button>
            <div class="dropdown-menu sort">
              <button type="submit" class="dropdown-item sort-button" name="sort" value="nameA">A→Z</button>
              <button type="submit" class="dropdown-item sort-button" name="sort" value="nameZ">Z→A</button>
              <button type="submit" class="dropdown-item sort-button" name="sort" value="rating">評分</button>
              <button type="submit" class="dropdown-item sort-button" name="sort" value="category">類別</button>
            </div>
          </div>
        </form>     
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="restaurant image">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils fa-xs"></i> {{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <form action="/restaurants/{{this._id}}/delete?_method=DELETE" method="POST" style="display:inline;"><button type="submit" class="btn btn-outline-danger btn-sm" style="float:right;">刪除</button></form>
              <a href="/restaurants/{{this._id}}/edit"><button type="button" class="btn btn-outline-primary btn-sm " style="margin-right:4px; float:right;">編輯</button></a>              
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div id="add-circle">
  <a href="/restaurants/new">
    <button type="button" class="btn-primary btn-lg rounded-circle" id="circle-button">
      <i class="fas fa-plus"></i>
    </button>
  </a>
</div>
